@import '../../../../src/styles/functions.scss';

:host {
  @include host-flex-direction(column);
  @include host-flex();
}

.sample-form {
  .form {
	width: 350px;
	padding: 20px;

    input {
	  width: 100%;
	  margin: 10px 0;
    }

    h1 {
      font-size: 18px;
    }
  }
}
