$device-small: 1;
$device-medium: 2;
$device-large: 3;
$size-small: 420px;
$size-large: 1024px;
$alignOptions: start, end, center, stretch, baseline;
$justifyOptions: start, end, center, between, around;

@function content-translate($option, $justify) {
	@if ($justify==true) {
		@if ($option==start) {
			@return flex-start;
		}

		@if ($option==end) {
			@return flex-end;
		}

		@if ($option==center) {
			@return center;
		}

		@if ($option==between) {
			@return space-between;
		}

		@if ($option==around) {
			@return space-around;
		}

		@return $option;
	}

	@if ($justify==false) {
		@if ($option==start) {
			@return flex-start;
		}

		@if ($option==end) {
			@return flex-end;
		}

		@if ($option==center) {
			@return center;
		}

		@if ($option==baseline) {
			@return baseline;
		}

		@if ($option==stretch) {
			@return stretch;
		}

		@return $option;
	}
}

@function shadow-top($depth) {
	$primary-offset: nth(1.5 3 10 14 19, $depth) * 1px;
	$blur: nth(1.5 3 10 14 19, $depth) * 4px;
	$color: rgba(black, nth(.12 .16 .19 .25 .30, $depth));
	@return 0 $primary-offset $blur $color;
}

@function shadow-bottom($depth) {
	$primary-offset: nth(1.5 3 6 10 15, $depth) * 1px;
	$blur: nth(1 3 3 5 6, $depth) * 4px;
	$color: rgba(black, nth(.24 .23 .23 .22 .22, $depth));
	@return 0 $primary-offset $blur $color;
}

@mixin xcommon-parallax($image-url) {
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url($image-url);
}

@mixin respond-to($media) {
	@if $media==$device-small {
		@media only screen and (max-width: $size-small) {
			@content;
		}
	}

	@if $media==$device-medium {
		@media only screen and (min-width: $size-small + 1) and (max-width: $size-large) {
			@content;
		}
	}

	@if $media==$device-large {
		@media only screen and (min-width: $size-large) {
			@content;
		}
	}
}

@mixin xcommon-fullbody() {
	html, body, .viewport {
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0;
	}
}

@mixin xcommon-reset() {
	html,
	body,
	div,
	span,
	applet,
	object,
	iframe,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p,
	blockquote,
	pre,
	a,
	abbr,
	acronym,
	address,
	big,
	cite,
	code,
	del,
	dfn,
	em,
	img,
	ins,
	kbd,
	q,
	s,
	samp,
	small,
	strike,
	strong,
	sub,
	sup,
	tt,
	var,
	b,
	u,
	i,
	center,
	dl,
	dt,
	dd,
	ol,
	ul,
	li,
	fieldset,
	form,
	label,
	legend,
	table,
	caption,
	tbody,
	tfoot,
	thead,
	tr,
	th,
	td,
	article,
	aside,
	canvas,
	details,
	embed,
	figure,
	figcaption,
	footer,
	header,
	hgroup,
	menu,
	nav,
	output,
	ruby,
	section,
	summary,
	time,
	mark,
	audio,
	video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}
	/* HTML5 display-role reset for older browsers */
	article,
	aside,
	details,
	figcaption,
	figure,
	footer,
	header,
	hgroup,
	menu,
	nav,
	section {
		display: block;
	}

	body {
		line-height: 1;
	}

	ol,
	ul {
		list-style: none;
	}

	blockquote,
	q {
		quotes: none;
	}

	blockquote:before,
	blockquote:after,
	q:before,
	q:after {
		content: '';
		content: none;
	}

	table {
		border-collapse: collapse;
		border-spacing: 0;
	}

	a,
	a:hover,
	a:visited {
		text-decoration: none;
		color: inherit;
	}
	
	*:focus {
		outline: none;
	}
}
