@import './functions.scss';

@mixin mixin-content($name) {
    [#{$name}="start"] {
        align-items: flex-start;
        justify-content: flex-start;
    }
    [#{$name}="center"] {
        align-items: center;
        justify-content: center;
    }
    [#{$name}="end"] {
        align-items: flex-end;
        justify-content: flex-end;
    }
    @each $align in $alignOptions {
        @each $justify in $justifyOptions {
            [#{$name}="#{$align} #{$justify}"] {
                align-items: content-translate($align, false);
                justify-content: content-translate($justify, true);
            }
        }
    }
}

@mixin mixin-flex($name, $step) {
	[#{$name}] {
		flex: 100 0 auto;
	}

	$i: $step;

	@while $i < 100 {
		[#{$name}="#{$i}"] {
			flex: $i 0 auto;
		}

		$i: $i+$step;
	}
}

@mixin mixin-layout($name) {
    [#{$name}],
    [#{$name}="row"] {
        display: flex;
        flex-direction: row;
    }
    [#{$name}="column"] {
        display: flex;
        flex-direction: column;
    }
}

@mixin mixin-show($name) {
	[#{$name}] {
		display: initial !important;
	}
}

@mixin mixin-hide($name) {
    [#{$name}] {
        display: none !important;
    }
}

@mixin mixin-wrap($name) {
    [#{$name}],
    [#{$name}="wrap"] {
        flex-wrap: wrap;
    }
    [#{$name}="nowrap"] {
        flex-wrap: nowrap;
    }
    [#{$name}="reverse"] {
        flex-wrap: wrap-reverse;
    }
}

@mixin mixin-fill($name) {
    [#{$name}] {
        min-height: 100%;
        min-width: 100%;
    }
    [#{$name}="vertical"] {
        min-height: 100%;
    }
    [#{$name}="horizonal"] {
        min-width: 100%;
    }
}

@mixin mixin-shadow($name) {
    [#{$name}] {
        box-shadow: shadow-bottom(2), shadow-top(2);
    }
    @for $i from 1 through 5 {
        [#{$name}="#{$i}"] {
            box-shadow: shadow-bottom($i), shadow-top($i);
        }
    }
}