@import './layout-core.scss';
@import './functions.scss';

@mixin xcommon-layout-full() {
	@include mixin-layout(layout);
	@include mixin-flex(flex);
	@include mixin-content(content);
	@include mixin-hide(hide);
	@include mixin-show(show);
	@include mixin-wrap(wrap);
	@include mixin-shadow(shadow);

	@include respond-to($device-small) {
		@include mixin-layout(layout-sm);
		@include mixin-layout(layout-sm-md);

		@include mixin-flex(flex-sm);
		@include mixin-flex(flex-sm-md);

		@include mixin-content(content-sm);
		@include mixin-content(content-sm-md);

		@include mixin-show(show-sm);
		@include mixin-show(show-sm-md);

		@include mixin-hide(hide-sm);
		@include mixin-hide(hide-sm-md);

		@include mixin-wrap(wrap-sm);
		@include mixin-wrap(wrap-sm-md);
	}

	@include respond-to($device-medium) {
		@include mixin-layout(layout-md);
		@include mixin-layout(layout-md-sm);

		@include mixin-flex(flex-md);
		@include mixin-flex(flex-sm-md);

		@include mixin-content(content-md);
		@include mixin-content(content-sm-md);
		
		@include mixin-show(show-md);
		@include mixin-show(show-sm-md);

		@include mixin-hide(hide-md);
		@include mixin-hide(hide-sm-md);

		@include mixin-wrap(wrap-sm);
		@include mixin-wrap(wrap-sm-md);
	}
}

@mixin xcommon-shadow() {
    @include mixin-shadow(shadow);
}

@mixin xcommon-layout() {
    @include mixin-layout(layout);
    @include respond-to($device-small) {
        @include mixin-layout(layout-sm);
        @include mixin-layout(layout-sm-md);
    }
    @include respond-to($device-medium) {
        @include mixin-layout(layout-md);
        @include mixin-layout(layout-sm-md);
    }
}

@mixin xcommon-flex() {
    @include mixin-flex(flex);
    @include respond-to($device-small) {
        @include mixin-flex(flex-sm);
        @include mixin-flex(flex-sm-md);
    }
    @include respond-to($device-medium) {
        @include mixin-flex(flex-md);
        @include mixin-flex(flex-sm-md);
    }
}

@mixin xcommon-content() {
    @include mixin-content(content);
    @include respond-to($device-small) {
        @include mixin-content(content-sm);
        @include mixin-content(content-sm-md);
    }
    @include respond-to($device-medium) {
        @include mixin-content(content-md);
        @include mixin-content(content-sm-md);
    }
}

@mixin xcommon-hide() {
    @include mixin-hide(hide);
    @include respond-to($device-small) {
        @include mixin-hide(hide-sm);
        @include mixin-hide(hide-sm-md);
    }
    @include respond-to($device-medium) {
        @include mixin-hide(hide-md);
        @include mixin-hide(hide-sm-md);
    }
}

@mixin xcommon-wrap() {
    @include mixin-wrap(wrap);
    @include respond-to($device-small) {
        @include mixin-wrap(wrap-sm);
        @include mixin-wrap(wrap-sm-md);
    }
    @include respond-to($device-medium) {
        @include mixin-wrap(wrap-md);
        @include mixin-wrap(wrap-sm-md);
    }
}