.simple-flex {
    padding: 5px;
    .example-radio-group {
        display: inline-flex;
        flex-direction: column;
    }
    .example-radio-button {
        margin: 5px;
    }
    .example-selected-value {
        margin: 15px 0;
    }
    .control {
        width: 400px;
        .desc {
            margin: 10px 0;
        }
        .layout {
            margin: 0 5px;
            padding: 10px 15px 15px 15px;
        }
        .align {
            margin: 5px;
            padding: 10px 15px 15px 15px;
        }
        .actions {
            margin: 5px;
            padding: 15px 5px;
            button {
                margin: 0 5px;
            }
        }
        .selecteditem {
            margin: 5px;
            padding: 10px 15px 15px 15px;
        }
        .summary {
            margin: 5px;
            padding: 10px 15px 15px 15px;
            .result {
                font-size: 12px;
            }
        }
    }
    .container {
        overflow: auto;
    }
    flex-element {
        min-height: 150px;
        min-width: 150px;
    }
}