<div class="simple-flex" layout="row" flex>
    <div class="control" layout="column">
        <div layout="row" shadow class="layout">
            <div layout="column" flex>
                <span class="desc">Layout</span>
                <md-radio-group class="example-radio-group" [(ngModel)]="LayoutValue">
                    <md-radio-button *ngFor="let layout of LayoutOptions" color="primary" class="example-radio-button" [value]="layout.value">{{layout.text}}</md-radio-button>
                </md-radio-group>
            </div>
            <div layout="column" flex>
                <span class="desc">Wrap</span>
                <md-radio-group class="example-radio-group" [(ngModel)]="WrapValue">
                    <md-radio-button *ngFor="let wrap of WrapOptions" color="primary" class="example-radio-button" [value]="wrap.value">{{wrap.text}}</md-radio-button>
                </md-radio-group>
            </div>
        </div>
        <div layout="row" shadow class="align">
            <div layout="column" flex>
                <span class="desc">Aling</span>
                <md-radio-group class="example-radio-group" [(ngModel)]="AlingValue">
                    <md-radio-button *ngFor="let align of AlingOptions" color="primary" class="example-radio-button" [value]="align.value">{{align.text}}</md-radio-button>
                </md-radio-group>
            </div>
            <div layout="column" flex>
                <span class="desc">Justify</span>
                <md-radio-group class="example-radio-group" [(ngModel)]="JustifyValue">
                    <md-radio-button *ngFor="let justify of JustifyOptions" color="primary" class="example-radio-button" [value]="justify.value">{{justify.text}}</md-radio-button>
                </md-radio-group>
            </div>
        </div>
        <div layout="row" class="actions" shadow>
            <button md-raised-button (click)="NewItem()">Add new Item</button>
            <button md-raised-button color="warn" (click)="CleanItems()">Clean Item</button>
        </div>
        <div layout="column" *ngIf="!SelectedItem" shadow class="selecteditem">
            <span class="desc">Select one item to change its properties</span>
        </div>
        <div layout="column" *ngIf="SelectedItem" shadow class="selecteditem">
            <span class="desc">Item edit</span>
            <md-input-container>
                <input mdInput [(ngModel)]="SelectedItem.Text" placeholder="Text">
            </md-input-container>
            <md-checkbox [(ngModel)]="SelectedItem.Flex">Flex</md-checkbox>
        </div>
        <div layout="column" shadow class="summary">
            <span class="desc">Summary</span>
            <div class="result">
                &lt;div layout="{{LayoutValue}}" content="{{GetContent()}}" wrap="{{WrapValue}}"&gt;<br /> ...
                <br />&#09; ...
                <br />&#09; ...
                <br />&#09; &lt;/div&gt;
            </div>
        </div>
    </div>
    <div class="container" shadow [attr.layout]="LayoutValue" flex [attr.content]="GetContent()" [attr.wrap]="WrapValue" [style.height.px]="ContainerHeight" [style.width.px]="ContainerWidth">
        <flex-element *ngFor="let item of Items" [Entity]="item" (ItemSelected)="LoadItem($event)"></flex-element>
    </div>
</div>