.simple-flex {
    .control {
        margin: 25px 0;
    }
    .demo {
        height: 70%;
        width: 70%;
        .box-blue {
            background-color: blue;
        }
        .box-gree {
            background-color: green;
        }
    }
}